<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-white border bottom">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href="{{  path('home') }}">
            Accueil
            <img src="/img/Daco.png" class="navbar-brand-img" alt="">
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fe fe-x"></i>
            </button>

            <!-- Navigation -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link " href="{{  path('peintures') }}">Réalisations</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{  path('actualites') }}">Actualités</a>
                </li>

                <li class="nav-item dropdown"  >
                    <a class="nav-link " id="navbarAccount"  href="{{ path('portfolio') }}">PorteFolio</a>
 {# data-bs-toggle="dropdown" #}
                    <ul class="dropdown-menu" aria-labelledby="navbarAccount">
                    {%  for categorie in categoriesNavbar() %}
                    <li class="dropdown-item dropend">
                        <a href="{{ path('portfolio_categorie', {'slug': categorie.slug}) }}">{{ categorie.nom }}</a>
                    </li>
                    {% endfor %}

                </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{  path('a_propos') }}">A propos</a>
                </li>
            </ul>


            <!-- Button -->
            <a class="navbar-btn btn btn-sm btn-primary lift ms-auto" href="https://themes.getbootstrap.com/product/landkit/" target="_blank">
                Me contacter
            </a>

        </div>

    </div>
</nav>