{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <!-- CONTENT -->
    <section>

        <!-- Content -->
        <div class="container d-flex flex-column">
            <div class="row align-items-center justify-content-between gx-0 min-vh-100">
                <div class="col-12 col-md-5 align-self-stretch">

                    <!-- Image (mobile) -->
                    <img src="assets/img/photos/photo-5.jpg" class="d-md-none img-cover" alt="...">

                    <!-- Image -->
                    <div class="d-none d-md-block vw-50 h-100 float-end bg-cover" style="background-image: url(/img/Dk_contact.jpg);"></div>

                </div>
                <div class="col-12 col-md-6 py-8 py-md-11">

                    <!-- Heading -->
                    <h2 class="fw-bold text-center mb-2">
                        Contact
                    </h2>

                    <!-- Text -->
                    <p class="fs-lg text-center text-muted mb-0">
                        Une question ? Envie d'acheter une toile ? D'un devis
                        pour une prestation ? N'hésitez pas à nous contacter.
                    </p>

                    <!-- Divider -->
                    <hr class="hr-sm my-6 my-md-8 mx-auto bg-gray-300">

                    {{  form_start(form) }}
                    {% for message in app.flashes('succes') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                    {% endfor %}

                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form) }}
                    </div>

                        <div class="form-group mb-5">
                            <label class="form-label" for="contactName">
                                {{ form_label(form.nom) }}
                            </label>
                            <!-- Input -->
                            {{ form_widget(form.nom) }}
                        </div>

                        <div class="form-group mb-5">
                            <label class="form-label" for="contactEmail">
                                {{ form_label(form.email) }}
                            </label>
                            <!-- Input -->
                            {{ form_widget(form.email) }}
                        </div>

                    <div class="form-group mb-5">
                        <label class="form-label" for="contactMessage">
                            {{ form_label(form.message) }}
                        </label>
                        <!-- Input -->
                        {{ form_widget(form.message) }}
                    </div>

                        <div class="form-group mb-0">
                            <button class="btn w-100 btn-primary lift" {{ form_widget(form.envoyer) }}
                        </div>

                    {{ form_end(form) }}

                </div>
            </div> <!-- / .row -->
        </div>
    </section>
{% endblock %}
